/* Uses Bootstrap stylesheets for styling, see linked CSS*/
body {
  background-color: #616161;
}

.panel {
  width: 80%;
  max-width: 700px;
  margin: 2em auto;
  display: block;
}

.hide {
  display: none;
}

.bootstrap-basic {
  color: white;
  font-family: monospace;
  background: #1abc9c;
}

.panel-body {
  width: 90%;
  margin: 2em auto;
}

.helper-text {
  color: #8a6d3b;
  font-size: 12px;
  margin-top: 5px;
  height: 12px;
  display: block;
}

#loader {
  border: 16px solid white;
  border-top: 16px solid #1abc9c;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 150px auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#success-display {
  color: white;
  background-color: #1abc9c;
  padding: 10px;
  text-align: center;
  width: 50%;
  max-width: 700px;
  margin: 200px auto;
  display: block;
}

#success-display h1 {
  margin: 20px 0;
}

#error-message,
#card-error {
  color: red;
  text-align: center;
  font-size: 18px;
}

/* Braintree Hosted Fields styling classes*/
.braintree-hosted-fields-focused {
  border: 1px solid #0275d8;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.braintree-hosted-fields-focused.focused-invalid {
  border: 1px solid #ebcccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(100, 100, 0, 0.6);
}

.braintree-hosted-fields-invalid {
  border-color: tomato;
}

.braintree-hosted-fields-valid {
  border-color: limegreen;
}

@media (max-width: 670px) {
  .btn {
    white-space: normal;
  }
}
